.img-post-profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--background-color);
}

.card__border{
    border: 0.5px solid var(--secondary-text-color);
    border-top: none;
}

.nav__border{
    border: 0.5px solid var(--secondary-text-color);
}

.header__border{
    border: 0.5px solid var(--secondary-text-color);
    border-top: none;
    border-bottom: none;
}

.view-profile:hover{
    text-decoration: underline;
    cursor: pointer;
}

.tooltip-large .tooltip-inner{
    max-width: 500px;
    background-color: var(--text-color);
    color: var(--background-color);
}

.tooltip-large .tooltip-arrow{
    background-color: var(--background-color);
}

.tooltip-large .arrow::before{
    border-top-color: var(--text-color);
}

.tooltip.show{
    opacity: 1 !important;
}

@media screen and (min-width: 768px){
    .body-card-experience{
        display: flex;
        gap: 30px;
        width: 100%;
        padding: 0 20px;
        align-items: center;
    }
}