.img-post-profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--background-color);
}

@media screen and (min-width: 768px){
    .body-card-experience{
        display: flex;
        gap: 30px;
        width: 100%;
        padding: 0 20px;
        align-items: center;
    }
}