.img-profile{
    width: 135px;
    height: 135px;
    border-radius: 50%;
    position: relative;
    top: 16vh;
    left: 20px;
    border: 5px solid var(--background-color);
}

.github, .linkedin{
    width: fit-content;
}

.github:hover > svg, .github:hover > a{
    fill: var(--text-color);
    color: var(--text-color);
    transition: color 0.5s ease, fill 0.5s ease;
}

.linkedin:hover > svg, .linkedin:hover > a{
    fill: #0a66c2;
    color: #0a66c2;
    transition: color 0.5s ease, fill 0.5s ease;
}

.blueEffect:hover, .blueEffect:hover > img, .blueEffect:hover > span{
    fill: #0a66c2;
    color: #0a66c2;
    transition: color 0.5s ease, fill 0.5s ease;
    cursor: pointer;
    filter: invert(21%) sepia(89%) saturate(466%) hue-rotate(179deg) brightness(100%) contrast(99%);
}

.greenEffect:hover, .greenEffect:hover > img, .greenEffect:hover > span{
    fill: #28a745;
    color: #28a745;
    transition: color 0.5s ease, fill 0.5s ease;
    cursor: pointer;
    filter: invert(28%) sepia(87%) saturate(448%) hue-rotate(87deg) brightness(95%) contrast(100%);
}

.redEffect:hover, .redEffect:hover > img, .redEffect:hover > span{
    fill: #dc3545;
    color: #dc3545;
    transition: color 0.4s ease, fill 0.4s ease;
    cursor: pointer;
    filter: invert(58%) sepia(98%) saturate(7431%) hue-rotate(342deg) brightness(96%) contrast(79%);
}

.redEffect.active, .redEffect.active > img, .redEffect.active > span{
    fill: #dc3545;
    color: #dc3545;
    transition: color 0.4s ease, fill 0.4s ease;
    cursor: pointer;
    filter: invert(58%) sepia(98%) saturate(7431%) hue-rotate(342deg) brightness(96%) contrast(79%);
}

@media screen and (min-width: 768px){
    .img-profile{
        bottom: -150px;
    }
    
}

.background-image-profile{
    background-image: url('../resources/img/background-image.jpg');
    height: 25vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.max-width-724{
    max-width: 724px;
}

.max-width-347{
    max-width: 347px;
}

.m-0-auto{
    margin: 0 auto;
}

.m-b-50{
    margin-bottom: 50px;
}

.m-b-70{
    margin-bottom: 70px;
}

.p-20{
    padding: 20px;
}

.p-10{
    padding: 10px;
}

.menu-item{
    margin-bottom: 0;

}

.menu-item:hover{
    background-color: rgba(113, 118, 123, 0.247);
    cursor: pointer;
}

.spam-number {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.spam-number.update {
    animation: numberChange 0.5s ease;
}

#panel-header{
    position: relative;
    left: 75%;
    bottom: -20px;
}

@keyframes numberChange {
    0% {
      transform: scale(1.2);
      opacity: 1;
    }
    50% {
      transform: scale(1.5);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }


@media screen and (min-width: 446px) {
    #panel-header{
        position: relative;
        left: 85%;
        bottom: -20px;
    }
}