.option-menu-dev{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    cursor: pointer;
}

.option-menu-dev.selected{
    background-color: transparent;
    color: var(--secondaryColorLetter);
    font-weight: 500;
    border: 1px solid white;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(26 13 51) 35%, rgb(43 9 101) 100%);
    border-bottom: 1px solid #ffffff29;
}

.option-menu-dev:hover{
    background-color: transparent;
    color: var(--secondaryColorLetter);
    font-weight: bold;
    border: 1px solid white;
}

.opt-menu-left{
    border-top-left-radius: 16px;
}

.opt-menu-right{
    border-top-right-radius: 16px;
}

.center-img{
    display: flex;
    align-items: center;
    justify-content: center;
}