/* Estilos para el modo claro */
:root {
  --background-color: #fff;
  --text-color: #000;
  --secondary-text-color: rgb(113, 118, 123);
}

/* Estilos para el modo oscuro */
.dark-mode {
  --background-color: #000;
  --text-color: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  font-size: 20px;
}

.secondary-color-text {
  color: var(--secondary-text-color);
}

p {
  font-size: 15px;
}

.svg-style {
  fill: var(--secondary-text-color);
  width: 18px;
  height: 18px;
}

.svg-style.sun {
  width: 32px;
  height: 32px;
}

.svg-style.moon {
  width: 32px;
  height: 32px;
}

.svg-style.sun:hover{
  fill: #FFD700;
  cursor: pointer;
}

.svg-style.moon:hover{
  fill: #000;
  cursor: pointer;
}

.svg-style.blue{
  fill: rgb(29, 155, 240);
}

.option-menu-dev.selected{
  font-weight: bold;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.m-l-8 {
  margin-left: 8px;
}

.m-b-8 {
  margin-bottom: 8px;
}

.m-b-16{
  margin-bottom: 16px;
}

.m-b-4 {
  margin-bottom: 4px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-6{
  margin-left: 6px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-t-16{
  margin-top: 16px;
}

.w-100 {
  width: 100%;
}

.separator {
  border-bottom: 1px solid var(--secondary-text-color);
  margin-left: 10px;
  margin-right: 10px;
}

.bold {
  font-weight: bold;
}


